/* -------------------------------- 

Primary style

-------------------------------- */
html, body {
  height: 100%;
  font-family: "Lato", sans-serif;
}

h3 {
  font-size: 150%;
  font-weight: 500;
  color: #323c75;
}
h4 {
  font-size: 130%;
  font-weight: 500;
  color: #323c75;
}


/* -------------
     header 
 ------------ */
#regmapGen-header {
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 10%;
  background: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: #E5E5E5;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

#regmapGen-header-text {
  display: block;
  position: relative;
  width: auto;
  top: 35%;
  color: #323c75;

  font-size: 180%;
  font-weight: 500;
  text-align: center;
}


/* --------
    map 
 ------- */
#regmapGen-address-map {
  display: inline-block;
  position: fixed;
  width: auto;
  height: 100%;
  top: 10%;
  background:#f4f7f7;
  overflow: scroll;
  overflow-y: scroll;
}

#regmapGen-map-text {
  display: block;
  position: relative;
  width: auto;
  top: 5%;
  color: #323c75;

  font-size: 130%;
  font-weight: 600;
  text-align: center;
}

#regmapGen-address-map > ul {
  margin: 30% 0;
}

#regmapGen-address-map >ul > li > ul {
  display: none;
  margin: 0 0 0 8%;
}

#regmapGen-address-map a {
  display: block;
  line-height: 2em;
  padding: 0 1em 0 1em;
  color: #323c75;
  text-decoration: none;
}

#regmapGen-address-map a.current {
  background-color: #3a4a4d;
  color: #d15423;
}

.no-touch #regmapGen-address-map a:hover {
  color: #d15423;
}

#regmapGen-address-map .regmapGen-reg-block > a {
  position: relative;
  font-weight: 600;
}


/* --------
    main 
 ------- */
#regmapGen-main-content {
  padding-top: 10%;
  padding-left: 20%;
  font-size: 100%;
  line-height: 2em;
  background-color: #fff;
}

#regmapGen-main-content #reg_desc {
  white-space: pre-wrap;
  font-size: 110%;
  color: #d15423;
}

#regmapGen-main-content #field_desc {
  white-space: pre-wrap;
  font-size: 110%;
  color: #d15423;
}

#regmapGen-main-content .field_even {
  background: #f4f7f7;
}

.regmapGen-dummy-anchor:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 6em;
  margin-top: 0;
}

.divider {
  display: inline-block;
  align-items: left;
  width: 80%;
  size: 2;
  color: #ede8d6;
}

/* -------------
    reg table 
 ------------ */
.regmapGen-reg-table {
  width: 80%;
  max-width: 100%;
  background-color: #fff;
  font-size: 1em;
  font-weight: normal;
  border-radius: 0.5em;
  border-collapse: collapse;
  border: 1px solid #ccc;
  white-space: nowrap;
}

.regmapGen-reg-table th, .regmapGen-reg-table td {
  width: 2em;
  padding: 0.25em;
  border: 1px solid #ccc;
  text-align: center;
}

.regmapGen-reg-table thead th {
  border-top: none;
  font-weight: bold;
  color: #000;
  background: #fbf6e4;
  
}

.regmapGen-reg-table th:first-child, .regmapGen-reg-table td:first-child {
  border-left: none;
}

.regmapGen-reg-table th:first-child {
  border-radius: 0.5em 0 0 0;
  font-weight: bold;
}

.regmapGen-reg-table th:last-child {
  border-radius: 0 0.5em 0 0;
}

.regmapGen-reg-table tr:last-child td:first-child {
  border-radius: 0 0 0 0.5em;
}

.regmapGen-reg-table tr:last-child td:last-child {
  border-radius: 0 0 0.5em 0;
}

.regmapGen-reg-table .used-field {
  background: #f4f7f7;
}

.regmapGen-reg-table .reserved-field {
  /* background-color: #839496; */
  color: #aaaaaa;
}
